<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modalForm" >
        <label for="choiseCategory">Choise Category</label>
        
        <select #selectedCategory class="form-control" >                
            <option *ngFor="let c of categories">{{c}}</option>            
        </select>
        <label for="inputName">Project Name</label>
        <input type="text" class="form-control" placeholder="Add project name" #inputName >
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" placeholder="Add description" #inputDescription>    
        <button class="add btn-default" (click)="c(addProject($event, selectedCategory.value, inputName.value, inputDescription.value))" >Add</button>
        <button class="cansel btn-default" (click)="c('Close click')">Cansel</button>
    </div>
</ng-template>
<div class="content">
  <div class="header">
      <h2>PROJECTS</h2>
      <button class="btn" (click)="open(modal)">New Project</button>
  </div>
  <div class="main">
      <div class="nav">
          <input type="text" name="search" placeholder="Search...">
          <p>Category</p>
          <div class="ul" *ngIf="categories.length">
              <ul class="fa-ul" *ngFor="let category of categories">
                  <li (click)="changeTemp(category)"><i class=" fa-li fa fa-angle-right " aria-hidden="true "></i>{{category}}</li>
              </ul>
          </div>

      </div>
      <div class="description-list" *ngIf="projects.length">
          <div class="description-item" *ngFor="let project of projects" [hidden]="temp != '' && temp != project.category">
              <h2 [routerLink]="['/content/',project.id]" routerLinkActive="active">{{project.name}}</h2>
              <p>Runs <span class="count">{{project.runCount}}</span>
              Assets <span class="count">{{project.runCount}}</span></p>
              <p>{{project.exerpt}}</p>
              <p>Added: 1 Day Ago</p>
              <hr>
              <button class="btn">
                  New Run
              </button>
              <button class="btn">
                  Visualizers v
              </button>
          </div>
      </div>

  </div>

</div>