<div class="sidebar">
  <button class="btn btn-default"><i class="fa fa-cube fa-2x" aria-hidden="true"></i></button>
  <button class="btn btn-default" routerLink="/content" routerLinkActive="active"><i class="fa fa-home fa-lg" aria-hidden="true"></i></button>
  <button class="btn btn-default"><i class="fa fa-desktop " aria-hidden="true"></i></button>
  <button class="btn btn-default"><i class="fa fa-envelope-square fa-lg" aria-hidden="true"></i></button>
  <button class="btn btn-default"><i class="fa fa-ticket fa-lg" aria-hidden="true"></i></button>
</div>